node_modules/
.next/
out/
dist/
coverage/

.env*
!.env.vercel.example
!.env.docker.example

npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.DS_Store
Thumbs.db

prisma/*.db
prisma/*.sqlite
prisma/*.db-journal

docker-compose.override.yml

